<template>
    <div>
        <table id="dtBasicExample" style="border-collapse: separate;border-spacing: 0 15px;">
            <tr class="AddAddressButtons">
                <td style=" display:inline-block;vertical-align:middle" colspan="9">
                    <form class="slds-form--inline">
                        <lightning-button label="Add Address" onclick={showAddAddressModal} class="slds-m-left_small"></lightning-button>
                        <label style="display: inline-block;position: relative;height:45px;width: 240px;" for="inputFile" class="slds-m-left_large">
                            <div  class="slds-button slds-button_neutral">
                                Import Addresses
                            </div>        
                                  <lightning-input style="position: absolute;left: 0;opacity: 0;bottom: 0;width: 100%;"
                                                   name="file1" type="file" label="Attachment" 
                                                   multiple="false" accept=".csv" onchange={handleImportCSV}>                                                   
                                    </lightning-input>
                                    <lightning-button-menu alternative-text="Show menu">
                                        <lightning-menu-item value="CSV Template" label=" Download CSV Template" onclick={downloadCSVTemplate}></lightning-menu-item>
                                    </lightning-button-menu>
                          </label>

                        <!--<lightning-button variant="brand" label="Request Availability Check" title="Request Availability Check" onclick={validateAddresses} class="slds-m-left_large"></lightning-button> -->
                       
                        <template if:true={openaddAddressModal}>  
                            <section role="dialog" tabindex="-1" 
                            aria-labelledby="modal-heading-01" class="slds-modal slds-fade-in-open ">
                                <div class="slds-modal__container">    
                                    <header class="slds-modal__header">
                                        <div class="slds-text-heading_medium slds-modal__title slds-hyphenate">New Address</div>
                                      </header>
                                      <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">                                    
                                          <slot>
                                           <lightning-record-edit-form object-api-name="cscrm__Address__c" onsubmit={handleSubmit}>
                                                <div class="slds-grid">
                                                    <div class="slds-col slds-size_1-of-2">
                                                        <template for:each={fieldsApiFirstHalf} for:item="item">  
                                                            <lightning-input-field field-name={item.fieldPath} name={item.fieldPath} key={item.fieldPath} id={item.fieldPath} value={item.value} required={item.required}>          
                                                            </lightning-input-field>
                                                        </template>
                                                    </div>
                                                    <div class="slds-col slds-size_1-of-2">
                                                        <template for:each={fieldsApiSecondHalf} for:item="item">  
                                                            <lightning-input-field field-name={item.fieldPath} name={item.fieldPath} key={item.fieldPath} id={item.fieldPath} value={item.value} required={item.required}>          
                                                            </lightning-input-field>
                                                        </template>
                                                    </div>
                                                </div>
                                                <footer class="slds-modal__footer">
                                                    <lightning-button
                                                    label="Cancel"
                                                    variant="neutral"
                                                    onclick={closeAddAddressModal}
                                                ></lightning-button>&nbsp;&nbsp;
                                                <lightning-button
                                                    label="Submit"
                                                    type="submit"
                                                    variant="brand"
                                                    class="slds-m-top_small"                                                                              
                                                ></lightning-button>
                                                  </footer>
                                            </lightning-record-edit-form> 
                                        </slot>
                                      </div>                                    
                                </div>
                            </section>                                   
                            <div class="slds-backdrop slds-backdrop_open"></div>
                        </template>

                        <template if:true={openInfoModal}>
                            <section aria-modal="true" class="slds-modal slds-fade-in-open">
                                <div class="slds-modal__container ">
                                    <header class="slds-modal__header"> 
                                        <h1 class="slds-text-heading_small">New Addresses</h1>
                                        <lightning-icon class="slds-modal__close" icon-name="utility:close" size="small" onclick={closeImportCsvModal}></lightning-icon>
                                    </header>
                                    <template if:true={showSpinner}>
                                        <div class="slds-spinner_container">
                                            <div class="slds-spinner_brand  slds-spinner slds-spinner_large slds-is-relative" role="alert">
                                                <span class="slds-assistive-text">Loading...</span>
                                                <div class="slds-spinner__dot-a"></div>
                                                <div class="slds-spinner__dot-b"></div><br>
                                                <br>            
                                            </div>
                                        </div> 
                                    </template>
                                    <div class="slds-modal__content slds-p-around_medium" id="modal-CSVcontent-id-1">   
                                        <template if:true={invalidAddressesFlag}>
                                            <div>
                                                <lightning-icon icon-name="utility:warning" alternative-text="Warning!" title="Warning" size="small" style="display: inline;"></lightning-icon>
                                                &nbsp;  &nbsp;
                                                <h1 class="slds-text-heading_small" style="display: inline;">Invalid Addresses</h1>
                                            </div> <br>
                                            <template for:each={invalidAddresses} for:item="invalidAdd">
                                                <p key={invalidAdd.name}>{invalidAdd.street},
                                                                        {invalidAdd.country},
                                                                        {invalidAdd.state_province},
                                                                        {invalidAdd.city},                                                                        
                                                                        {invalidAdd.zipCode},
                                                                        
                                                </p>
                                            </template>
                                        </template>
                                        <template if:true={allValidAddressesFlag}>
                                            <p> All Addresses successfully imported! </p>
                                        </template>

                                        <template if:true={duplicateAddressFlag}>
                                            <div>
                                                <lightning-icon icon-name="utility:warning" alternative-text="Warning!" title="Warning" size="small" style="display: inline;"></lightning-icon>
                                                &nbsp;  &nbsp;
                                                <h1 class="slds-text-heading_small" style="display: inline;">This Address already exist.</h1>
                                            </div> <br>

                                        </template>
                                       
                                    </div>
    
                                    <footer class="slds-modal__footer">
                                        <lightning-button variant="brand" label="OK" onclick={closeImportCsvModal} class="slds-p-around_x-small"></lightning-button>
                                    </footer>
                                </div>
                            </section>
                            <div class="slds-backdrop slds-backdrop_open"></div>
                        </template>





                 </form>
                </td>
            </tr>

            <tr class="AddAddressTable">
                <td colspan="9">
                        <div>

                            <lightning-datatable
                                    key-field="id"
                                    data={data}
                                    columns={columns}
                                    onrowselection={getSelectedRows}>
                            </lightning-datatable>
                        </div>
                </td>
            </tr>
            <!-- <tr>
              <td>
                <lightning-button label="Previous" icon-name="utility:chevronleft" onclick={previousHandler} class="slds-m-left_small">
                </lightning-button>
                <lightning-layout-item flexibility="auto" class="slds-m-left_xx-large">
                    Page {page} of {totalPage}
                </lightning-layout-item>
                <lightning-button label="Next" icon-name="utility:chevronright" icon-position="right" onclick={nextHandler} class="slds-m-left_xx-large">
                </lightning-button>
                </td>
            </tr> -->

            <!-- <tr>
                <td colspan="2">
                    <lightning-button variant="brand" label="Create Configurations" title="Create Configurations" onclick={createConfigs} class="slds-m-left_small"></lightning-button>
                </td>
            </tr> -->


        </table>


    </div>

    <!--<div class='SectorB' style="display: inline-block; width: 50%">
        <h2> Sector B </h2>

    </div>-->

</template>